<div class="content">
  {{#unless controllers.application.showCcgReport}}
    <form class="pure-form pure-form-stacked search" {{action "search" on="submit"}}>
      <fieldset>
        <div class="pure-u-7-24 industries">
          <label for="industries">Industry</label>
          {{view "select2"
            content=industryList
            selection=industriesField
            optionValuePath="content.value"
            optionLabelPath="content.label"
            id="industries"
            class="pure-input-1"
            multiple=true}}
        </div>
        <div class="pure-u-7-24 countries">
          <label for="countries">Country</label>
          {{view "select2"
            content=countryList
            selection=countriesField
            optionValuePath="content.value"
            optionLabelPath="content.label"
            id="countries"
            class="pure-input-1"
            multiple=true}}
        </div>
          <div class="pure-u-7-24 topics">
          <label for="topics">Trade Topics</label>
          {{view "select2"
            content=topicList
            selection=topicsField
            optionValuePath="content.value"
            optionLabelPath="content.label"
            id="topics"
            class="pure-input-1"
            multiple=true}}
        </div>

        <div class="pure-u-21-24">
          {{input type="submit" value="Search" class="pure-u-1 pure-u-md-8-24 pure-button pure-button-primary"}}
        </div>
      </fieldset>
    </form>
  {{/unless}}
  {{outlet}}
</div>
